.btn
{
    text-align: center
}
/* button{
    position: absolute;
    background: #EFD700;
    box-shadow: -3px 1px 10px rgba(0, 0, 0, 0.12);
    border-radius: 76.5px; 
    font-family: Ploni DL 1.1 AAA;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: right;

color: #000000;
} */
.signup{
    width: 187px;
    height: 53px;
    left: 453px;
    top: 112px;
}
.login{
width: 180px;
height: 53px;
left: 246px;
top: 110px;
}
