.devInfo {
    position: absolute;
    left: 94.51%;
    right: 3.57%;
    top: 21.95%;
    bottom: 74.68%;
    border: 1.5px solid #EE2A7B;
}

.devInfo2 {
    position: absolute;
    left: 95.76%;
    right: 3.22%;
    top: 21.27%;
    bottom: 77%;
    border: 1.5px solid #EE2A7B;
}